/* @import "~materialize-css/dist/css/materialize.min.css"; */
* {
  text-decoration: none;
  list-style: border-box;
}
.container {
  margin: auto;
  width: 50%;
  width: 1200px;
  padding: 10px;
}
body {
  margin: 0;
  padding: 0;
}

.todo {
  margin-bottom: 1rem;
}

.todo.completed span {
  text-decoration: line-through;
}

.todo label {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  background: #f3f3f3;
  padding: 1rem;
}

.red-text {
  padding: 10px;
  border-radius: 20px;
  background-color: rgb(223, 76, 76);
  color: rgb(255, 255, 255);
  z-index: 2;
}
.input-field {
  width: 100%;
  cursor: pointer;
  /* background: #f3f3f3; */
  padding: 1rem;
  border: none;
}

.input-field_input {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  padding: 1rem;
  border: none;
  border-bottom: 1px solid black;
}
